In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-cp39-cp39-win_amd64.whl (7.9 MB)
     ---------------------------------------- 7.9/7.9 MB 7.1 MB/s eta 0:00:00
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp39-cp39-win_amd64.whl (904 kB)
     -------------------------------------- 904.2/904.2 kB 7.2 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.32 protobuf-3.20.3

In [2]:
import mysql.connector

### creating connection

In [15]:
# creating connection
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Root@9868"
)

In [16]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000228A0E4F3A0>

### CREATING DATABASE

In [22]:
#CREATING DATABASE
mycursor= mydb.cursor()
mycursor.execute("CREATE DATABASE asitdb")

### Check if Database Exists

In [24]:
#Check if Database Exists
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('asitdb',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

 ### Use "if not exists"

In [31]:
#Use "if not exists"
mycursor= mydb.cursor()
mycursor.execute("CREATE DATABAsE IF NOT EXISTS asitdb")
mydb.close()

### Creating a Table
#### To create a table in MySQL, use the "CREATE TABLE" statement.

In [47]:
#Creating a Table
#To create a table in MySQL, use the "CREATE TABLE" statement.
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Root@9868",
)
mycursor= mydb.cursor()
mycursor.execute("CREATE DATABAsE IF NOT EXISTS asitdb")
mycursor.execute("CREATE TABLE IF NOT EXISTS asitdb.Tanble_Name(coolumn1 VARCHAR(255), column2 int, column3 TEXT)")
#stntax: mycursor.execute(CREATE TABLE DB_NAME.TABLE_NAME(COLUMN_NAME DATATYPE, COULMN_NAME DATATYPE))

### Entering values inside table
#### use:- insert into asit.db.Tanble_name values(" "," "," ")

In [63]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Root@9868",
  database="ASITDB"
)

mycursor = mydb.cursor()

#use single inverted commas inside double inverted ones
mycursor.execute("insert into Tanble_name values('this',45,'this and this')")
mycursor.execute("insert into Tanble_name values('this',45,'this and this')")
mycursor.execute("insert into Tanble_name values('this',45,'this and this')")
mycursor.execute("insert into Tanble_name values('this',45,'this and this')")
mycursor.execute("insert into Tanble_name values('this',45,'this and this')")
mycursor.execute("insert into Tanble_name values('this',45,'this and this')")
mycursor.execute("insert into Tanble_name values('this',45,'this and this')")
mydb.commit() #also call this whenever we try to perform insert operation
print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [32]:
#inserting data method2
import mysql.connector
mydb=mysql.connector.connect(
    host = 'localhost',
    user='root',
    password='Root@9868'
    
)
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists Tabledb")
mycursor.execute("CREATE TABLE IF NOT EXISTS Tabledb.customers(id INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(255), address TEXT)")

In [33]:
#inserting values
sql ="insert into Tabledb.customers(name,address) values(%s,%s)"

In [34]:
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

In [37]:
mycursor.executemany(sql, val)
mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

### Check if Table Exists
#### You can check if a table exist by listing all tables in your database with the "SHOW TABLES" statement:

In [70]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Root@9868",
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES from asitdb")

for x in mycursor:
  print(x)

('tanble_name',)

### Checking data inside a table
#### use:- select * from asitdb.Tanble_name

In [64]:
mycursor.execute("select * from asitdb.Tanble_name")
for i in mycursor.fetchall():
    print(i)

('ASIT SHASTRI', 25, 'THIS IS ASIT SHASTRI')
('ASIT SHASTRI', 25, 'THIS IS ASIT SHASTRI')
('Bidu', 79, 'this is bidu')
('Bidu', 79, 'this is bidu')
('Bidu', 79, 'this is bidu')
('qwerty', 32, 'this is qwerty')
('Bidu', 79, 'this is bidu')
('qwerty', 32, 'this is qwerty')
('Bidu', 79, 'this is bidu')
('qwerty', 32, 'this is qwerty')
('this', 45, 'this and this')
('this', 45, 'this and this')
('this', 45, 'this and this')
('this', 45, 'this and this')
('this', 45, 'this and this')
('this', 45, 'this and this')
('this', 45, 'this and this')
('this', 45, 'this and this')

### Select only perticular columns
#### use:- select colunm1 column 2 from asitdb.Tanble_name

In [72]:
mycursor.execute("select column2,column3 from asitdb.Tanble_name")
for i in mycursor.fetchall():
    print(i)

(25, 'THIS IS ASIT SHASTRI')
(25, 'THIS IS ASIT SHASTRI')
(79, 'this is bidu')
(79, 'this is bidu')
(79, 'this is bidu')
(32, 'this is qwerty')
(79, 'this is bidu')
(32, 'this is qwerty')
(79, 'this is bidu')
(32, 'this is qwerty')
(45, 'this and this')
(45, 'this and this')
(45, 'this and this')
(45, 'this and this')
(45, 'this and this')
(45, 'this and this')
(45, 'this and this')
(45, 'this and this')

### Primary Key
When creating a table, you should also create a column with a unique key for each record.

This can be done by defining a PRIMARY KEY.<br>
<br>

We use the statement **"INT AUTO_INCREMENT PRIMARY KEY"** which will insert a unique number for each record. Starting at 1, and increased by one for each record.

In [18]:
import mysql.connector
mydb= mysql.connector.connect(
    host="localhost",
    user="root",
    password="Root@9868",
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE if not exists asitdb.customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")    
mycursor.execute("insert  into asitdb.customers values(id,'qwerty','this is the address')")
mycursor.execute("insert  into asitdb.customers values(id,'qwerty','this is the address')")
mycursor.execute("insert  into asitdb.customers values(id,'qwerty','this is the address')")
mycursor.execute("insert  into asitdb.customers values(id,'qwerty','this is the address')")
mycursor.execute("insert  into asitdb.customers values(id,'qwerty','this is the address')")
mydb.commit()
mycursor.execute("select * from asitdb.customers")
for i in mycursor.fetchall():
    print(i)
mydb.close()

(1, 'asit', 'addresses')
(2, 'asit', 'addresses')
(3, 'asit', 'addresses')
(4, 'asit', 'addresses')
(5, 'asit', 'addresses')
(11, 'qwerty', 'this is the address')
(12, 'qwerty', 'this is the address')
(13, 'qwerty', 'this is the address')
(14, 'qwerty', 'this is the address')
(15, 'qwerty', 'this is the address')
(16, 'qwerty', 'this is the address')
(17, 'qwerty', 'this is the address')
(18, 'qwerty', 'this is the address')
(19, 'qwerty', 'this is the address')
(20, 'qwerty', 'this is the address')

### Insert Keys into already existing table:
#### use the 'ALTER TABLE'

In [ ]:
import mysql.connector
mydb= mysql.connector.connect(
    host="localhost",
    user="root",
    password="Root@9868",
)
mycursor = mydb.cursor()
mycursor.execute("alter table asitdb.tanble_name add column id INT AUTO_INCREMENT PRIMARY KEY")

In [22]:
mycursor.execute("select * from asitdb.tanble_name")
for i in mycursor.fetchall():
    print(i)

('ASIT SHASTRI', 25, 'THIS IS ASIT SHASTRI', 1)
('ASIT SHASTRI', 25, 'THIS IS ASIT SHASTRI', 2)
('Bidu', 79, 'this is bidu', 3)
('Bidu', 79, 'this is bidu', 4)
('Bidu', 79, 'this is bidu', 5)
('qwerty', 32, 'this is qwerty', 6)
('Bidu', 79, 'this is bidu', 7)
('qwerty', 32, 'this is qwerty', 8)
('Bidu', 79, 'this is bidu', 9)
('qwerty', 32, 'this is qwerty', 10)
('this', 45, 'this and this', 11)
('this', 45, 'this and this', 12)
('this', 45, 'this and this', 13)
('this', 45, 'this and this', 14)
('this', 45, 'this and this', 15)
('this', 45, 'this and this', 16)
('this', 45, 'this and this', 17)
('this', 45, 'this and this', 18)

# Python MySQL Select

### Selecting All Columns

In [39]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Root@9868",
  database="Tabledb"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Peter', 'Lowstreet 4')
(2, 'Amy', 'Apple st 652')
(3, 'Hannah', 'Mountain 21')
(4, 'Michael', 'Valley 345')
(5, 'Sandy', 'Ocean blvd 2')
(6, 'Betty', 'Green Grass 1')
(7, 'Richard', 'Sky st 331')
(8, 'Susan', 'One way 98')
(9, 'Vicky', 'Yellow Garden 2')
(10, 'Ben', 'Park Lane 38')
(11, 'William', 'Central st 954')
(12, 'Chuck', 'Main Road 989')
(13, 'Viola', 'Sideway 1633')
(14, 'Peter', 'Lowstreet 4')
(15, 'Amy', 'Apple st 652')
(16, 'Hannah', 'Mountain 21')
(17, 'Michael', 'Valley 345')
(18, 'Sandy', 'Ocean blvd 2')
(19, 'Betty', 'Green Grass 1')
(20, 'Richard', 'Sky st 331')
(21, 'Susan', 'One way 98')
(22, 'Vicky', 'Yellow Garden 2')
(23, 'Ben', 'Park Lane 38')
(24, 'William', 'Central st 954')
(25, 'Chuck', 'Main Road 989')
(26, 'Viola', 'Sideway 1633')
(27, 'Peter', 'Lowstreet 4')
(28, 'Amy', 'Apple st 652')
(29, 'Hannah', 'Mountain 21')
(30, 'Michael', 'Valley 345')
(31, 'Sandy', 'Ocean blvd 2')
(32, 'Betty', 'Green Grass 1')
(33, 'Richard', 'Sky st 331')
(34, 'Susan', 'One way 98')
(35, 'Vicky', 'Yellow Garden 2')
(36, 'Ben', 'Park Lane 38')
(37, 'William', 'Central st 954')
(38, 'Chuck', 'Main Road 989')
(39, 'Viola', 'Sideway 1633')

### Selecting Columns

In [41]:
mycursor = mydb.cursor()

mycursor.execute("SELECT id,name FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Peter')
(2, 'Amy')
(3, 'Hannah')
(4, 'Michael')
(5, 'Sandy')
(6, 'Betty')
(7, 'Richard')
(8, 'Susan')
(9, 'Vicky')
(10, 'Ben')
(11, 'William')
(12, 'Chuck')
(13, 'Viola')
(14, 'Peter')
(15, 'Amy')
(16, 'Hannah')
(17, 'Michael')
(18, 'Sandy')
(19, 'Betty')
(20, 'Richard')
(21, 'Susan')
(22, 'Vicky')
(23, 'Ben')
(24, 'William')
(25, 'Chuck')
(26, 'Viola')
(27, 'Peter')
(28, 'Amy')
(29, 'Hannah')
(30, 'Michael')
(31, 'Sandy')
(32, 'Betty')
(33, 'Richard')
(34, 'Susan')
(35, 'Vicky')
(36, 'Ben')
(37, 'William')
(38, 'Chuck')
(39, 'Viola')

### Using the fetchone() Method

In [42]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchone()

print(myresult)

(1, 'Peter', 'Lowstreet 4')