
### Q1. What is a database? Differentiate between SQL and NoSQL databases.

<br>
ans:
What is batabase?
A database is an organized collection of structured information, or data, 
typically stored electronically in a computer system. A database is usually 
controlled by a database management system (DBMS).
<br>
<br>

**Difference between SQL and NoSQL databases.**
- SQL databases are relational, and NoSQL databases are non-relational.
- SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
- SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
- SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
- SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

### **Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.**


ans:<br>
**Data Definition Language(DDL):<br> is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.**
<br>
<br>
**DDL Commands :**
 following DDL commands as follows.
- Create
- Alter 
- truncate
- drop
- Rename 
<br>

In [ ]:
#create
"""
CREATE TABLE table_name
(
column_1 datatype,
column_2 datatype,
column_3 datatype,
....
);
"""
print()

In [ ]:
#alter
"""
ALTER TABLE table_name
ADD column_name datatype;
"""print()

In [ ]:
#turncate
"""
TRUNCATE TABLE table_name;
"""print()

In [ ]:
#drop
"""
DROP TABLE table_name;
"""print()

In [ ]:
#Rename
"""
RENAME TABLE <Table Name> To <New_Table_Name>;
"""print()

### **Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.**<br>
ans:
<br>
**The structured query language (SQL)** commands deal with the manipulation of data present in the database that belongs to the DML or Data Manipulation Language. This includes most of the SQL statements.<br><br>
examples of DML in the Database Management System (DBMS) are as follows −

- SELECT − Retrieve data from the database.

- INSERT − Insert data into a table.

- UPDATE − Update existing data within a table.

- DELETE − Delete records from a database table.

In [ ]:
"""
Insert into <table_name> (column list) values (column values);
"""

In [ ]:
"""
SELECT * from <table_name>;
"""

In [ ]:
"""
Delete from <table_name>WHERE condition;
"""

In [ ]:
"""
UPDATE <table_name> SET column_number =value_number WHERE condition;
"""

### Q4. What is DQL? Explain SELECT with an example.<br>
ans:
**Query languages**, often known as **DQLs or Data Query Languages**, are computer languages that are used to make various queries in information systems and databases

### Q5. Explain Primary Key and Foreign Key.<br>
ans:<br>
**Primary Key**: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. \
<br>
<br>
**Foreign Key**: A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [16]:
import mysql.connector
#connecting to MySQL
mydb=mysql.connector.connect( 
    host="localhost",
    user="root",
    password="Root@9868"
)
#creating cursor object
mycursor =mydb.cursor()

#executing SQL commands using mycursor object
mycursor.execute("CREATE DATABASE IF NOT EXISTS assignmentpw")
mycursor.execute("SHOW DATABASES")
a=1
for i in mycursor:
    print(f"database{a}:{i}")
    a=a+1

database1:('asitdb',)
database2:('assignmentpw',)
database3:('information_schema',)
database4:('mysql',)
database5:('performance_schema',)
database6:('sys',)
database7:('tabledb',)

### Q7. Give the order of execution of SQL clauses in an SQL query.
<br>
ans:<br>
Order of Execution
<br>
SQL queries adhere to a specific order when evaluating clauses, similar to how mathematical operations adhere to PEMDAS or BIDMAS.

From the eyes of the user, queries begin from the first clause and end at the last clause. However, queries aren’t actually read from top to bottom when carried out.

The order in which the clauses in queries are executed is as follows:

1. **FROM/JOIN:** The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. **WHERE:** The WHERE clause is executed to filter out records that do not meet the constraints.

3. **GROUP BY:** The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. **HAVING:** The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. **SELECT:** The SELECT clause is executed to derive all desired columns and expressions.

6. **ORDER BY:** The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. **LIMIT/OFFSET:** Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.