In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp39-cp39-win_amd64.whl (382 kB)
     -------------------------------------- 382.5/382.5 kB 1.3 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     -------------------------------------- 283.7/283.7 kB 2.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3

In [2]:
import pymongo

In [5]:
#connect to a client
client = pymongo.MongoClient("mongodb+srv://Euphor:mongodb@cluster0l.s2a7sxh.mongodb.net/?retryWrites=true&w=majority")
db = client.test
#now it will be showing 1 connection in mongodb atlas
#we can create as many clusters

### MONGO DB 
> #### It is a document based database i.e we are able to store data in a dictionary format or JSON(Java Script Object Notation) format.
> #### In SQL a table is created, But in MONGODB a collection is created inside which documents are stores(note: documents are not structured i.e it can store any king do data)

## Creating DATABASE

# Mongo DB

In [6]:
import pymongo
client = pymongo.MongoClient('mongodb+srv://euphor:mongodb@cluster0.awumzpw.mongodb.net/?retryWrites=true&w=majority')

In [7]:
#creating db
db = client['First_db']

In [8]:
#creating collection inside dbcrea
collection =db["First_coll"]

In [9]:
#creating data for adding into class
data = {"name" : "asit",
        "class" : "data",
        "timing " : "flexi"
}

In [10]:
#inssertin above data into the collection
collection.insert_one(data)

In [11]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = collection.insert_many(mylist)

In [12]:
x = collection.find_one()
print(x)

{'_id': ObjectId('64e4d0374fefa08a003ea8ad'), 'name': 'asit', 'class': 'data', 'timing ': 'flexi'}

In [13]:
# findall using :find()
## No parameters in the find() method gives you the same result as SELECT * in MySQL.
l = []
for i in collection.find():
    l.append(i)
print(l)

[{'_id': ObjectId('64e4d0374fefa08a003ea8ad'), 'name': 'asit', 'class': 'data', 'timing ': 'flexi'}, {'_id': 1, 'name': 'John', 'address': 'Highway 37'}, {'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}, {'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}, {'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}, {'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}, {'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}, {'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}, {'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}, {'_id': 9, 'name': 'Susan', 'address': 'One way 98'}, {'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}, {'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}, {'_id': 12, 'name': 'William', 'address': 'Central st 954'}, {'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}, {'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}]

In [17]:
#finding
myquery = { "address": "Park Lane 38" }

mydoc = collection.find(myquery)

for x in mydoc:
  print(x)

{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

Advanced Query
To make advanced queries you can use modifiers as values in the query object.

E.g. to find the documents where the "address" field starts with the letter "S" or higher (alphabetically), use the greater than modifier: {"$gt": "S"}:

In [18]:
myquery = { "address": { "$gt": "S" } }

mydoc = collection.find(myquery)

for x in mydoc:
  print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

### Filter With Regular Expressions
to find only the documents where the "address" field starts with the letter "S", use the regular expression {"$regex": "^S"}:

In [25]:
myquery = { "address": { "$regex": "^S" } }

mydoc = collection.find(myquery)

for x in mydoc:
  print(x)

{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

### Sort the Result

In [26]:
mydoc = collection.find().sort("name")

for x in mydoc:
  print(x)

{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64e4d0374fefa08a003ea8ad'), 'name': 'asit', 'class': 'data', 'timing ': 'flexi'}

#### Sort Descending

In [27]:
mydoc = collection.find().sort("name", -1)

for x in mydoc:
  print(x)

{'_id': ObjectId('64e4d0374fefa08a003ea8ad'), 'name': 'asit', 'class': 'data', 'timing ': 'flexi'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

### Delete Document
To delete one document, we use the delete_one() method.

The first parameter of the delete_one() method is a query object defining which document to delete.

In [28]:
myquery = { "address": "Mountain 21" }

collection.delete_one(myquery)

#### Delete Many Documents

In [33]:
myquery = { "address": {"$regex": "^H"} }

x = collection.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

1  documents deleted.

#### Delete All Documents in a Collection

In [35]:
x = collection.delete_many({})

print(x.deleted_count, " documents deleted.")

11  documents deleted.

### Delete Collection

In [36]:
collection.drop()

In [37]:
coll = db['new coll']

In [38]:
coll.insert_many(mylist)

In [41]:
coll.update_one({"address": "Valley 345" },{'$set':{"address": "Canyon 123" }})

In [42]:
coll.find_one({"address": "Canyon 123" })

{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}

#### Update Many
To update all documents that meets the criteria of the query, use the update_many() method.

In [43]:
myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = coll.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

2 documents updated.

#### Limit the Result
To limit the result in MongoDB, we use the limit() method.

The limit() method takes one parameter, a number defining how many documents to return.

In [44]:
myresult = coll.find().limit(5)

#print the result:
for x in myresult:
  print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}