# <a href="PDFs/Statistics/7_ march_Statistics_2_Measure_of_dispersion_230511_164324.pdf">Measure of dispersion</a>

In [1]:
from customLib import viewpdf as view
view.pdf("PDFs/Statistics/7_ march_Statistics_2_Measure_of_dispersion_230511_164324.pdf")

In [8]:
import numpy as np
ages_lst=[23,43,23,56,74,32,68,98,45,32]

In [10]:
#calculating mean,variance,std, deviation of above lst
try:
    print(f'Calculating Mean, Varience and Std, deviationof: {ages_lst}')
    print(f"Mean: {np.mean(ages_lst)}")
    print(f"Varience: {np.var(ages_lst)}")
    print(f"Square Root of Varience: {(np.var(ages_lst))**0.5}")
    print(f"Std. Deviation: {np.std(ages_lst)}")
except:
    print("error")

Calculating Mean, Varience and Std, deviationof: [23, 43, 23, 56, 74, 32, 68, 98, 45, 32]
Mean: 49.4
Varience: 541.64
Square Root of Varience: 23.273160507331188
Std. Deviation: 23.273160507331188

### Calaulating varience and std using pandas

In [11]:
import pandas as pd

In [23]:
data = [[10,12,13],[34,23,45],[32,34,21]]
df = pd.DataFrame(data,index=['A','B','C'],columns=["c1","c2","c3"])
df

   c1  c2  c3
A  10  12  13
B  34  23  45
C  32  34  21

In [27]:
#varence column wise
df.var()

c1    177.333333
c2    121.000000
c3    277.333333
dtype: float64

In [28]:
#varience row-wise
df.var(axis=1)

A      2.333333
B    121.000000
C     49.000000
dtype: float64