# <a href="PDFs/Statistics/7_ march_Statistics_5_covarience_and_corelation_230512_003738.pdf">Covariation and Corelation</a>

In [1]:
from customLib import viewpdf as view
view.pdf("PDFs/Statistics/7_ march_Statistics_5_covarience_and_corelation_230512_003738.pdf")

In [2]:
import seaborn as sns

In [67]:
df=sns.load_dataset('healthexp')
df = df.select_dtypes(exclude='object')
df

     Year  Spending_USD  Life_Expectancy
0    1970       252.311             70.6
1    1970       192.143             72.2
2    1970       123.993             71.9
3    1970       150.437             72.0
4    1970       326.961             70.9
..    ...           ...              ...
269  2020      6938.983             81.1
270  2020      5468.418             82.3
271  2020      5018.700             80.4
272  2020      4665.641             84.7
273  2020     11859.179             77.0

[274 rows x 3 columns]

#### Covarience using df itself (i.e without using numpy)

In [68]:
df.cov()

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

#### Spearman rank Corelation

In [69]:
df.corr(method='spearman')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.931598         0.896117
Spending_USD     0.931598      1.000000         0.747407
Life_Expectancy  0.896117      0.747407         1.000000

#### Pearson Crelation

In [70]:
df.corr(method='pearson') #bydefault it is pearson

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

In [97]:
#### Pearson Corelation using pandas selection method

In [98]:
df1 = sns.load_dataset('penguins')

In [99]:
df1[df1.dtypes[df1.dtypes=='float'].index].corr()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
bill_length_mm,1.000000,-0.235053,0.656181,0.595110
bill_depth_mm,-0.235053,1.000000,-0.583851,-0.471916
flipper_length_mm,0.656181,-0.583851,1.000000,0.871202
body_mass_g,0.595110,-0.471916,0.871202,1.000000