In [2]:
import pandas as pd

In [4]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [5]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [7]:
print(df.loc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

#### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
<br>
ans:

##### df.iloc[]
- It does slicing for only numbered indeces and does not understand named indices.
<br>

##### df.loc[]:
- It understand named indices for slicing

In [30]:
#ex
#syntax df.loc/df.iloc[row,column]
print(f"This is loc:\n {df.loc[:,['duration']]}\n\n")
print(f'This is iloc:\n {df.iloc[:,1]}')
df.iloc[:,['duration']] #Error: .iloc requires numeric indexers, got ['duration']

This is loc:
    duration
0         2
1         3
2         6
3         4


This is iloc:
 0    2
1    3
2    6
3    4
Name: duration, dtype: int64

IndexError: .iloc requires numeric indexers, got ['duration']

### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].
#### Did you observe any difference in both the outputs? If so then explain it.
#### Consider the below code to answer further questions:

In [44]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.470065  0.991093  0.328990  0.993289  0.461060  0.661911
2  0.155177  0.591460  0.519137  0.481556  0.449333  0.778728
3  0.185536  0.395324  0.486876  0.773971  0.744235  0.379272
4  0.897622  0.022958  0.142754  0.342902  0.499563  0.972552
5  0.583810  0.497064  0.921531  0.969598  0.595867  0.955968
6  0.927554  0.817450  0.190073  0.285765  0.304319  0.184138

In [51]:
new_df1 = df1.reindex([3,0,1,2])
new_df1

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.185536  0.395324  0.486876  0.773971  0.744235  0.379272
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.470065  0.991093  0.328990  0.993289  0.461060  0.661911
2  0.155177  0.591460  0.519137  0.481556  0.449333  0.778728

In [50]:
new_df1.iloc[2]

column_1    0.470065
column_2    0.991093
column_3    0.328990
column_4    0.993289
column_5    0.461060
column_6    0.661911
Name: 1, dtype: float64

In [53]:
new_df1.loc[2]

column_1    0.155177
column_2    0.591460
column_3    0.519137
column_4    0.481556
column_5    0.449333
column_6    0.778728
Name: 2, dtype: float64

From above we can observe that loc selects the index named 2 while iloc selects the index no. 2.

### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
- (i) mean of each and every column present in the dataframe.
- (ii) standard deviation of column, ‘column_2’

In [76]:
print(f"Mean of all columns: {df1.mean()}")
print(f"Std of column_2: {df1.std()['column_2']}")

Mean of all columns: column_1    0.536627
column_2    0.552558
column_3    0.431560
column_4    0.641180
column_5    0.509063
column_6    0.655428
dtype: float64
Std of column_2: 0.33831122314545264

### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
### If you are getting errors in executing it then explain why. [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [97]:
df1.loc[:,['column_2']] = ['fwea','b','csdfge','derge','eaer','fger']
print(df1.head(2))
df1['column_2'].mean()
#getting error cuz can only find mena/avg of a integer value

   column_1 column_2  column_3  column_4  column_5  column_6
1  0.470065     fwea  0.328990  0.993289  0.461060  0.661911
2  0.155177        b  0.519137  0.481556  0.449333  0.778728

TypeError: Could not convert fweabcsdfgedergeeaerfger to numeric

### Q6. What do you understand about the windows function in pandas and list the types of windows functions?
**syntax: pd.rolling(window=)**

url: https://www.scaler.com/topics/pandas/window-functions-in-pandas/

### Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [139]:
timestamp = pd.Timestamp(year=2021,month=5,day=1)
res = timestamp.today()
res

Timestamp('2023-05-04 00:30:05.258082')

### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [143]:
t1 = pd.Timestamp(year=2020, month=5, day=3)
t2 = pd.Timestamp(year=2022, month=5, day=3)
def time_diff(d1,d2):
    t1 = pd.Timestamp(year=int(d1.split('-')[0]), month=int(d1.split('-')[1]), day=int(d1.split('-')[2]))
    t2 = pd.Timestamp(year=int(d2.split('-')[0]), month=int(d2.split('-')[1]), day=int(d2.split('-')[2]))
    return t2-t1
time_diff('2020-05-01','2023-04-01')

Timedelta('1065 days 00:00:00')

### Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [199]:
path = '../2_data_science_basics/resources/titanic_data.csv'
def fun(path,column_name, cartegory_order):
    df = pd.read_csv(path)
    if cartegory_order=='ascending':
        return df.sort_values([column_name])
    else:
        return df.sort_values([column_name],ascending=False)
fun(path,'Pclass','ascending')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
445,446,1,1,"Dodge, Master. Washington",male,4.0,0,2,33638,81.8583,A34,S
310,311,1,1,"Hays, Miss. Margaret Bechstein",female,24.0,0,0,11767,83.1583,C54,C
309,310,1,1,"Francatelli, Miss. Laura Mabel",female,30.0,0,0,PC 17485,56.9292,E36,C
307,308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.0,1,0,PC 17758,108.9000,C65,C
306,307,1,1,"Fleming, Miss. Margaret",female,NaN,0,0,17421,110.8833,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
379,380,0,3,"Gustafsson, Mr. Karl Gideon",male,19.0,0,0,347069,7.7750,NaN,S
381,382,1,3,"Nakid, Miss. Maria (""Mary"")",female,1.0,0,2,2653,15.7417,NaN,C
382,383,0,3,"Tikkanen, Mr. Juho",male,32.0,0,0,STON/O 2. 3101293,7.9250,NaN,S
371,372,0,3,"Wiklund, Mr. Jakob Alfred",male,18.0,1,0,3101267,6.4958,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

### Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.
### The program should do the following:
- I Prompt the user to enter the file path of the CSV file containing the student dataR
- I Read the CSV file into a Pandas DataFrameR
- I Calculate the mean, median, and mode of the test scores using Pandas toolsR
- I Display the mean, median, and mode in a table.
##### Assume the CSV file contains the following columnsM
- I Student ID: The ID of the studentR
- I Test Score: The score of the student's test.

> ##### Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv

+-----------+--------+<br>
| Statistic | Value |<br>
+-----------+--------+<br>
| Mean | 79.6 |<br>
| Median | 82 |<br>
| Mode | 85, 90 |<br>
+-----------+--------+<br>

Assume that the CSV file student_data.csv contains the following data:<br>
Student ID,Test Score
1,85<br>
2,90<br>
3,80<br>
4,75<br>
5,85<br>
6,82<br>
7,78<br>
8,85<br>
9,90<br>
10,85<br>
**The program should calculate the mean, median, and mode of the test scores and display the results
in a table.**

In [232]:
path = '../2_data_science_basics/resources/student_data.csv'
def cal_discrip():
    
    path = input('Enter file Path')
    df = pd.read_csv(path)
    df1 = pd.DataFrame({"Value":[df['Test Score'].mean(),df['Test Score'].median(),df['Test Score'].mode()[0]]})
    df2 = pd.DataFrame({"Statistic":["Mean","Median","Mode"]})
    data = pd.concat([df2,df1],axis=1).set_index('Statistic')
    return data
cal_discrip()

Enter file Path../2_data_science_basics/resources/student_data.csv

           Value
Statistic
Mean        83.5
Median      85.0
Mode        85.0